*.swp
/.bundle/
/.bundle/
/.bundle/
/.config
/InstalledFiles
/coverage/
/lib/bundler/man/
/lib/bundler/man/
/lib/bundler/man/
/pkg/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor
/vendor/bundle
/vendor/bundle
*.swo
